aiohttp==3.10.10
b2sdk==2.8.0
Flask==3.1.0
h2==4.2.0
httpx==0.28.1
joblib==1.4.2
matplotlib==3.10.1
nest_asyncio==1.6.0
numpy==2.2.4
pandas==2.2.3
plotly==5.24.1
polars==1.26.0
# psycopg2==2.9.10
pyarrow==18.0.0
python_dateutil==2.9.0.post0
pytz==2024.2
# pywin32==308
pyzipper==0.3.6
QuantLib==1.37
QuantLib-Risks==1.33.3
# rateslib==1.7.0
Requests==2.32.3
schedule==1.2.2
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
SQLAlchemy==2.0.37
SQLAlchemy_Utils==0.41.2
statsmodels==0.14.4
termcolor==3.0.1
tqdm==4.67.0
tqdm_joblib==0.0.4
ujson==5.10.0
jupyter==1.1.1
lxml==5.3.2
python-dotenv==1.1.0
ZODB==6.0.1
